
PORT=
FRONTEND_URL=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
BCRYPT_SALT_ROUNDS=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

SMTP_HOST=... SMTP_PORT=... SMTP_USER=... SMTP_PASS=... SMTP_FROM=...
TWILIO_ACCOUNT_SID=... TWILIO_AUTH_TOKEN=... TWILIO_FROM_NUMBER=...
VAPID_PUBLIC_KEY=BJrCTIPjfhK1Zn6xeA3DQ_RV0VD_I8YaUJ6VMP-14GtpxV_BgEWUW1FjcIixnHwL0E6hISHd9gigePKVnLkQBQw
VAPID_PRIVATE_KEY=7JtLRmCEF4mXDBAAfjdU6rt7cs8O6JkiCpZWOw3DZM8
VAPID_SUBJECT=mailto:you@yourrestaurant.com
